<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <h1 class="text-dark">Student And Teacher Information table </h1>
    <hr class="bg bg-info">
</head>

<body>

    <button id="addNew" class="btn btn-light">Add New Book</button>
    <input type="hidden" id="BookData" data-val="{{ all_stt }}">


    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="stt_id" id="stt_id" value="0">
                    <div class="form-group">
                        <label for="select"><b>Select position </b></label>
                        <select class="custom-select" id="inputGroupSelect01" name="role" required>
                            <option selected>Choose...</option>
                            <option value="1">Teacher</option>
                            <option value="2">Student</option>
                            <option value="3">Principal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name" class="form-label sm-3  "><b>Name</b></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label sm-3"><b>E-mail</b></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="number" class="form-label sm-3"><b>Phone-number</b></label>
                        <input type="number" class="form-control" name="number" id="number"
                            placeholder="Enter your phone-number" required>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <button class="form-control bg bg-primary" style="color: snow;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="text-danger">Student</h2>
                <hr>
                <table class="table table-bordered" id="infoTable">
                    <thead>
                        <tr>
                            <th class="text-info">Name</th>
                            <th class="text-info">E-mail</th>
                            <th class="text-info">Phone-number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ht in stt %}
                        <tr>
                            <td>{{ht.name}}</td>
                            <td>{{ht.email}}</td>
                            <td>{{ht.number}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2 class="text-danger">Teachers</h2>
                <hr>
                <table class="table table-bordered" id="infoTable">
                    <thead>
                        <tr>
                            <th class="text-info">Name</th>
                            <th class="text-info">E-mail</th>
                            <th class="text-info">Phone-number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ar in teach %}
                        <tr>
                            <td>{{ar.name}}</td>
                            <td>{{ar.email}}</td>
                            <td>{{ar.number}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">>
        <div class="col-md-6 offset-md-3">
            <h2 class="text-danger">Principal</h2>
            <hr>
            <table class="table table-bordered" id="infoTable">
                <thead>
                    <tr>
                        <th class="text-info">Name</th>
                        <th class="text-info">E-mail</th>
                        <th class="text-info">Phone-number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pr in prin %}
                    <tr>
                        <td>{{pr.name}}</td>
                        <td>{{pr.email}}</td>
                        <td>{{pr.number}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        var BookData = $("#BookData").data("val");
        console.log("Bppk Data = ", BookData);


        $("#infoTable").on("click", ".btnEdit", function () {
            console.log("This Data = ", $(this).data('val'));

            var thisSttData = BookData.find(obj => obj.id == parseInt($(this).data('val')));

            console.log(thisSttData);

            $("#stt_id").val(thisSttData.id);
            $("#name").val(thisSttData.sno);
            $("#email").val(thisSttData.email);
            $("#number").val(thisSttData.number);
        })

    })

</script>


</html>